:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --light-bg-color: rgba(255, 255, 255, 0.87);
  --light-txt-color: #242424;
  
  --dark-bg-color: #242424;
  --dark-txt-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.light {
  color: var(--light-txt-color);
  background-color: var(--light-bg-color);
}

.dark {
  color: var(--dark-txt-color);
  background-color: var(--dark-bg-color);
}
